*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

header ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 1% 0 1% 0;
    font-size: xx-large;
}

#header{
    padding: 0%;
    margin: 0%;
}

#logoYtitulo{
    display: flex;
    justify-content: center;
}

#marg0{
    margin: 0%;
    padding: 0%;
}

#marg0-2{
    margin: 0%;
    padding: 0%;
}

#marg0-3{
    margin: 0%;
    padding: 0%;    
}

#marg0-4{
    margin: 0%;
    padding: 0%;
}

main{
    margin: 0 5% 0 5%;
}

.discos{
    display: flex;
    justify-content: space-around;
}

.discos img{
    width: 100%;
    height: 100%;
}

.temas{
    opacity: 0;
    position: absolute;
    color:black;
    font-weight: bold;
    font-size: larger;
}

#vida{
    transform: translate(80px, -350px);
}

#confesiones{
    transform: translate(90px, -425px);
}

#anecdotas{
    transform: translate(20px, -475px);
    font-size: x-large;
}

#porsuigieco{
    transform: translate(80px, -480px);
    font-size: x-large;
}

#adiosSui{
    transform: translate(90px, -540px);
    font-size: large;
}

.contenedorTemas{
    text-align: center;
}

.contenedorTemas:hover p{
    opacity: 1;
}

.contenedorTemas img{
    transition: all 1s;
}

.contenedorTemas p{
    transition: all 2s;
}

.contenedorTemas:hover img{
    background-color: white;
    opacity: 0.65;
}

#tituloDiscosNormales{
    margin: 0;
    padding: 0;
    text-align: center;
}

#tituloDiscosAnormales{
    margin: 1% 0 1% 0;
    padding: 0;
    text-align: center;
}

#sinfonias{
    transform: translate(160px, -550px);
}





/*------HOME------*/

#pibes{
    display: flex;
    justify-content: center;
    align-items: center;
}

#pibes img{
    width: 50%;
}

#tex1{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1% 15% 0 15%;
    font-size: large;
}
#video{
    width: 100%;
    
}
#tex2{
    display: flex;
    justify-content: end;
    text-align: end;
    font-size: large;
}
#aprende{
    width: 70%;
}
.Confesiones{
    width: 100%;
}
.sin{
    margin: 0;
    padding: 0;
}
#tex3{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: x-large;
}