*{
    margin: 0;
    padding: 0;
}

img{
    border-radius: 20px;
}

video{
    border-radius: 20px;
}

a{
    text-decoration: none;
    color: black;
}

header ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0 0 0 0;
    font-size: xx-large;
}

#header{
    padding: 0%;
    margin: 0%;
}

#logoYtitulo{
    display: flex;
    justify-content: center;
}

#marg0{
    margin: 0%;
    padding: 0%;
    background-image: radial-gradient(#328bd9, #0f228c 75%);
}

#marg0-2{
    margin: 0%;
    padding: 0%;
}

#marg0-3{
    margin: 0%;
    padding: 0%;  
    background-image: radial-gradient(#328bd9, #0f228c 75%);  
}

#marg0-4{
    margin: 0%;
    padding: 0%;
}

nav li:hover a{
    text-decoration: underline;
}

u{
    color: white;
}

main{
    margin: 0 5% 0 5%;
    color: white;
}

.discos{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.discos img{
    width: 100%;
    height: 100%;
    background-color: white;
}

.temas{
    opacity: 0;
    position: absolute;
    color:black;
    font-weight: bold;
}

.discos ul{
    list-style-position: inside;
}

#vida{
    transform: translate(-15px, -350px);
    font-size: 16px;
}

.fechaAlbum{
    list-style: none;
}

#confesiones{
    transform: translate(-27px, -350px);
    font-size: large;
}

#anecdotas{
    transform: translate(-20px, -350px);
    font-size: 16px;
}

#porsuigieco{
    transform: translate(12px, -370px);
    font-size: 15px;
}

#adiosSui{
    transform: translate(-15px, -375px);
    font-size: 11px;
}

#sinfonias{
    transform: translate(20px, -397px);
    font-size: 12px;
}

.contenedorTemas{
    text-align: center;
}

.contenedorTemas:hover p{
    opacity: 1;
}

.contenedorTemas:hover ul{
    opacity: 1;
}

.contenedorTemas img{
    transition: all 1s;
}

.contenedorTemas p{
    transition: all 1s;
}

.contenedorTemas ul{
    transition: all 1s;
}

.contenedorTemas:hover img{
    background-color: white;
    opacity: 0.25;
}

.contenedorIntegrantes:hover img{
    opacity: .5;
}

#tituloDiscosNormales{
    margin: 0;
    padding: 0;
    text-align: center;
}

#tituloDiscosAnormales{
    margin: 1% 0 1% 0;
    padding: 0;
    text-align: center;
}

#tituloIntegrantes{
    margin: 1% 0 1% 0;
    padding: 0;
    text-align: center;    
}

#integrantes{
    height: 600px
}

.contenedorIntegrantes{
    height: 100%;
}

#charly{
    font-size: medium;
    transform: translate(20px, -325px);
}

#nito{
    font-size: medium;
    transform: translate(60px, -300px);
}

#tituloGaleria{
    margin: 1% 0 1% 0;
    padding: 0;
    text-align: center;
}

#galeria{
    margin: 0%;
    padding: 0%;
    margin-bottom: 100px;
}

#galeria img{
    height: 600px;
}

#video video{
    border-radius: 20px;
    padding-bottom: 40px;
}

#video{
    display: flex;
    justify-content: center;
}

/*------HOME------*/


#pibes{
    display: flex;
    justify-content: center;
    align-items: center;
}

#pibes img{
    width: 50%;
}

#tex1{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1% 15% 0 15%;
    font-size: large;
}
#video{
    width: 100%;
    padding: 0%;
}
#tex2{
    display: flex;
    justify-content: end;
    text-align: end;
    font-size: large;
    align-items: center;
    height: 100%;
}
.centrados{
    display: flex;
    align-items: center;
}
#aprende{
    width: 80%;
}
.Confesiones{
    width: 100%;
}
.sin{
    margin: 0;
    padding: 0;
}
#tex3{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: x-large;
}
#grid{
    display: grid;
    margin: 0 11% 0 11%;
    padding: 20px 10px 20px 10px    ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'tex1 video foto'
    'img tex2 foto';
    grid-row-gap: 1%;
    grid-column-gap: 1%;
}
#lorem-1{
    grid-area: tex1;
    display: flex;
    justify-content: center;
    text-align: center;

}
#cancion-1{
    grid-area: video;
}
#img{
    grid-area: img;
    display: flex;
    justify-content: end;
    text-align: end;
    
}
#escaleras{
    grid-area: foto;
}
#lorem-2{
    grid-area: tex2;
    display: flex;
    justify-content: center;
    text-align: center;
}


/*------FOOTER------*/

#footer{
    margin: 0%;
    padding: 0%;
}

footer ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 1% 0 1% 0;
    font-size: xx-large;
}

.red{
    display: flex;
}

.laRed h3{
    color: white;
}

footer li:hover a{
    text-decoration: underline;
}

.margen ul{
    background-color: #F20519;
}

.margen{
    padding-top: 40px;
}

footer img{
    border-radius: 0px;
}

.redes{
    display: flex;
    flex-direction: column;
}

.redes img{
    width: 100%;
}

.logoRed{
    width: 10%;
}

.red{
    display: flex;
    justify-content: start;
}

.laRed{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

#transicion{
    background-image: linear-gradient(to top, #f20519, #0f228c);
    height: 20px;
    margin: 0%;
    padding: 0%;
}

#transicion2{
    background-image: linear-gradient(to top, #f20519, #0f228c);
    height: 20px;
    margin: 0%;
    padding: 0%;
}

/*---colores----*/

body{
    background-color: #0f228c;
}

div nav{
    background-color: #F20519;
    color: white;
}
a{
    color: white;
}
p{
    color: white;
}
#grid{
    background-color: #0d24a6;
}
#grad{
    margin: 0 11% 0 11%;
    height: 50px;
    background-image: linear-gradient(#328BD9, #0d24a6);
}
#grad-2{
    margin: 0 11% 0 11%;
    height: 50px;
    background-image: linear-gradient(#0d24a6, #0f228c);    
}
#grad-3{
    margin: 30px 11% 0 11%;
    height: 50px;
    background-image: linear-gradient(#0f228c, #328BD9);     
}
#gradNav{
    margin: 0;
    height: 10px;
    background-image: linear-gradient(#F20519,rgb(8, 7, 7), #0f228c);    
}
#footer{
    background-color: #F20519;
}
#disco1{
    margin: 0 11% 0 11%;
    background-color: #328BD9;
}
#grad-0{
    height: 50px;
    background-image: linear-gradient(#F20519,#0f228c);
}
#grad-1{
    margin: 0 11% 0 11%;
    height: 50px;
    background-image: linear-gradient(#0D2CD9,#328BD9);
}