*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
}

header ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 1%;
}

#header{
    padding: 0%;
    margin: 0%;
}

#logoYtitulo{
    display: flex;
    justify-content: center;
}

#marg0{
    margin: 0%;
    padding: 0%;
}

#marg0-2{
    margin: 0%;
    padding: 0%;
}

main{
    margin: 0 5% 0 5%;
}

#discos{
    display: flex;
    justify-content: space-around;
}

#discos img{
    width: 100%;
    height: 100%;
}

.temas{
    display: none;
    position: absolute;
    color:black;
    font-weight: bold;
    font-size: larger;
}

#vida{
    transform: translate(80px, -350px);
}

#confesiones{
    transform: translate(90px, -350px);

}

.contenedorTemas{
    text-align: center;
}

.contenedorTemas:hover p{
    display: flex;
}

.contenedorTemas:hover img{
    background-color: white;
    opacity: 0.65;
}
#pibes{
    display: flex;
    justify-content: center;
    align-items: center;
}
#pibes img{
    width: 50%;
}
#tex1{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1% 15% 0 15%;
}
#video{
    width: 100%;
    
}
#tex2{
    display: flex;
    justify-content: end;
    text-align: end;
}